.card {
    background-color: #d5d5d5;
    width: 400px;
    height: 250px;
    border-radius: 10px;
    padding: 20px;
}
.tags {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.tags h6 {
    font-size: 12px;
    text-align: center;
    width: 100px;
    padding: 10px;
    border-radius: 10px;
    color: white;
}
.text h5{
    font-size: 16px;
    line-height: 1.3;
}