$background--color: #1e2023;
$icon--color: #1e2023;
$font--color: #ffffff;
$font--color--active: #000000;
$font--primary: "Sailec", sans-serif;
$transition--length: 0.8;

body {
  background-color: white;
  font-family: $font--primary;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.logo{
  position: fixed;
  z-index: 1;
  left: 100px;
  top: 50px;
}
.sm-break{
  display: none;
}
@media only screen and (max-width: 500px) {
  .sm-break {
    display: block;
  }
  .content {
    width: 100vw;
    overflow: hidden !important;
  }
  .logo{
    position: fixed;
    z-index: 1;
    left: 10px;
    top: 45px;
  }
  .site-content {
    padding-top: 10px;
    max-width: 100vw !important;
    height: 100vh;
    text-align: center;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: start;
    .header-grid {
      width: 90% !important;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0px auto !important;
      h1 {
        text-align: center;
        width: 475px;
        color: black;
        font-size: 25px !important;
        font-weight: 500;
        line-height: 30px !important;
      }
      h2{
        padding-top: 10px;
        text-align: center;
        font-weight: 200;
        line-height: 12px;
        color: black;
        font-size: 15px !important;
      }
    }
  }
  .images{
    width: 90% !important;
    height: auto !important;
    margin: 30px 0px !important;
  }
  .image-container {
    width: 100%;
    height: auto !important;
    overflow: hidden;
    transition: 0.2s ease;
    img{
      transition: 0.2s ease;
      width: 100%;
      height: auto;
    }
  }
  .images:hover {
    .image-container{
      img{
        z-index: 3;
        transform:scale(1.1,1.1);
        transition: 0.2s ease;
      }
    }
    .image-text{
      transition: 0.2s ease;
      margin-top: 10px !important;
      margin-bottom: 20px;
    }
  }
  .image-text{
    margin-top: 30px !important;
    margin-bottom: 0px;
    text-align: left;
    line-height: 18px;
    padding-left: 20px;
    transition: 0.2s ease;
    h1{
      font-size: 25px !important;
      line-height: 25px !important;
      font-weight: 500;
    }
    h4{
      font-size: 15px !important;
      color: #080808;
      font-weight: 100;
    }
  }


  //default state
  .menu-icon {
    $size: 30px;
    height: $size;
    width: $size;
    position: fixed;
    z-index: 2;
    right: 10px !important;
    top: 50px;
    cursor: pointer;
    &__line {
      height: 2px;
      width: $size;
      display: block;
      background-color:black;
      margin-bottom: 4px;
      transition: transform 0.2s ease, background-color 0.5s ease;
    }
    &__line-left {
      width: $size / 2;
    }
    &__line-right {
      width: $size / 2;
      float: right;
    }
  }

  .nav {
    $width: 100vw;
    $height: 100vh;
    $font--size--calc: calc(2vw + 10px);
    $transition--easing: cubic-bezier(0.77, 0, 0.175, 1);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    &:before,
    &:after {
      content: "";
      position: fixed;
      width: $width;
      height: $height;
      background: #bb2a27;

      z-index: -10;
      transition: transform $transition--easing $transition--length + s;
      transform: translateX(0%) translateY(-100%);
    }
    &:after {
      background: #dc3d39;
      transition-delay: 0s;
    }
    &:before {
      transition-delay: 0.1s;
    }
    &__content {
      position: fixed;
      top: 50%;
      left: -10%;
      transform: translate(0 , -50%);
      width: 100%;
      text-align: center;
      font-size: 35px;
      font-weight: 200;
      visibility: hidden;
    }
    &__list-item {
      position: relative;
      display: grid;
      transition-delay: $transition--length + s;
      opacity: 0;
      width: 100px;
      margin: 10px auto;
      color :white;
      transform: translate(0%, 100%);
      transition: opacity 0.2s ease, transform 0.3s ease;
      &:before {
        content: "";
        position: absolute;
        background: white;
        width: 20px;
        height: 1px;
        top: 100%;
        transform: translate(0%, 0%);
        transition: all 0.3s ease;
        z-index: -1;
      }
      &:hover {
        &:before {
          width: 100%;
        }
      }
    }
  }

  //active state
  body.nav-active {
    $menu--items--count: 4;
    .menu-icon {
      &__line {
        background-color: white;
        transform: translateX(-10px) rotate(-55deg);
      }
      &__line-left {
        transform: translateY(-6px) translateX(-2px) rotate(58deg) scaleX(2);
      }
    }
    .nav {
      visibility: visible;
      &:before,
      &:after {
        transform: translateX(0%) translateY(0%);
      }
      &:after {
        transition-delay: 0.1s;
      }
      &:before {
        transition-delay: 0s;
      }
      &__content {
        visibility: visible;
      }
      &__list-item {
        opacity: 1;
        transform: translateX(0%);
        transition: opacity 0.3s ease, transform 0.3s ease, color 0.3s ease;
        @for $i from 0 through $menu--items--count {
          &:nth-child(#{$i}) {
            transition-delay: $transition--length * $i / 8 + 0.5 + s;
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 800px) {
  .logo{
    position: fixed;
    z-index: 1;
    left: 10px;
    top: 45px;
  }
  .site-content {
    padding-top: 300px;
    max-width: 100vw;
    height: 100vh;
    text-align: center;
    margin: 0 auto;
    align-items: center;
    display: flex;
    flex-direction: column;
    .header-grid {
     display: flex;
      flex-direction: column;
      align-items: start;
      h1 {
        text-align: left;
        width: 475px;
        color: black;
        font-size: 34px;
        font-weight: 500;
        line-height: 50px;
      }
      h2{
        padding-top: 10px;
        text-align: left;
        font-weight: 200;
        line-height: 32px;
        color: black;
        font-size: 18px;
      }
    }
  }
  .images{
    width: 100vw;
    height: 400px;
    margin: 100px 0px;
  }
  .image-container {
    width: 100%;
    height: 400px;
    overflow: hidden;
    transition: 0.2s ease;
    img{
      transition: 0.2s ease;
      width: 100%;
      height: auto;
    }
  }
  .images:hover {
    .image-container{
      img{
        z-index: 3;
        transform:scale(1.1,1.1);
        transition: 0.2s ease;
      }
    }
    .image-text{
      transition: 0.2s ease;
      margin-top: 10px;
      margin-bottom: 20px;
    }
  }
  .image-text{
    margin-top: 30px;
    margin-bottom: 0px;
    text-align: left;
    line-height: 18px;
    padding-left: 20px;
    transition: 0.2s ease;
    h1{
      font-size: 28px;
      font-weight: 500;
    }
    h4{
      font-size: 18px;
      color: #080808;
      font-weight: 100;
    }
  }


  //default state
  .menu-icon {
    $size: 30px;
    height: $size;
    width: $size;
    position: fixed;
    z-index: 2;
    right: 10px;
    top: 50px;
    cursor: pointer;
    &__line {
      height: 2px;
      width: $size;
      display: block;
      background-color:black;
      margin-bottom: 4px;
      transition: transform 0.2s ease, background-color 0.5s ease;
    }
    &__line-left {
      width: $size / 2;
    }
    &__line-right {
      width: $size / 2;
      float: right;
    }
  }

  .nav {
    $width: 100vw;
    $height: 100vh;
    $font--size--calc: calc(2vw + 10px);
    $transition--easing: cubic-bezier(0.77, 0, 0.175, 1);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    &:before,
    &:after {
      content: "";
      position: fixed;
      width: $width;
      height: $height;
      background: #bb2a27;

      z-index: -10;
      transition: transform $transition--easing $transition--length + s;
      transform: translateX(0%) translateY(-100%);
    }
    &:after {
      background: #dc3d39;
      transition-delay: 0s;
    }
    &:before {
      transition-delay: 0.1s;
    }
    &__content {
      position: fixed;
      top: 50%;
      transform: translate(0%, -50%);
      width: 100%;
      text-align: center;
      font-size: 35px;
      font-weight: 200;
      visibility: hidden;
    }
    &__list-item {
      position: relative;
      display: grid;
      transition-delay: $transition--length + s;
      opacity: 0;
      width: 100px;
      margin: 10px auto;
      color :white;
      transform: translate(0%, 100%);
      transition: opacity 0.2s ease, transform 0.3s ease;
      &:before {
        content: "";
        position: absolute;
        background: white;
        width: 20px;
        height: 1px;
        top: 100%;
        transform: translate(0%, 0%);
        transition: all 0.3s ease;
        z-index: -1;
      }
      &:hover {
        &:before {
          width: 100%;
        }
      }
    }
  }

  //active state
  body.nav-active {
    $menu--items--count: 4;
    .menu-icon {
      &__line {
        background-color: white;
        transform: translateX(-10px) rotate(-55deg);
      }
      &__line-left {
        transform: translateY(-6px) translateX(-2px) rotate(58deg) scaleX(2);
      }
    }
    .nav {
      visibility: visible;
      &:before,
      &:after {
        transform: translateX(0%) translateY(0%);
      }
      &:after {
        transition-delay: 0.1s;
      }
      &:before {
        transition-delay: 0s;
      }
      &__content {
        visibility: visible;
      }
      &__list-item {
        opacity: 1;
        transform: translateX(0%);
        transition: opacity 0.3s ease, transform 0.3s ease, color 0.3s ease;
        @for $i from 0 through $menu--items--count {
          &:nth-child(#{$i}) {
            transition-delay: $transition--length * $i / 8 + 0.5 + s;
          }
        }
      }
    }
  }
}
@media only screen and (min-width: 799px) {
  .site-content {
    padding-top: 300px;
    max-width: 100vw;
    height: 100vh;
    text-align: center;
    margin: 0 auto;
    align-items: center;
    display: flex;
    flex-direction: column;
    .header-grid {
      display: flex;
      flex-direction: column;
      align-items: start;
      h1 {
        text-align: left;
        width: 475px;
        color: black;
        font-size: 34px;
        font-weight: 500;
        line-height: 50px;
      }
      h2{
        padding-top: 10px;
        text-align: left;
        font-weight: 200;
        line-height: 32px;
        color: black;
        font-size: 18px;
      }
    }
  }
  .images{
    width: 100vw;
    height: 400px;
    margin: 100px 0px;
  }
  .image-container {
    width: 100%;
    height: 400px;
    overflow: hidden;
    transition: 0.2s ease;
    img{
      transition: 0.2s ease;
      width: 100%;
      height: auto;
    }
  }
  .images:hover {
    .image-container{
      img{
        z-index: 3;
        transform:scale(1.1,1.1);
        transition: 0.2s ease;
      }
    }
    .image-text{
      transition: 0.2s ease;
      margin-top: 10px;
      margin-bottom: 20px;
    }
  }
  .image-text{
    margin-top: 30px;
    margin-bottom: 0px;
    text-align: left;
    line-height: 18px;
    transition: 0.2s ease;
    h1{
      font-size: 28px;
      font-weight: 500;
    }
    h4{
      font-size: 18px;
      color: #080808;
      font-weight: 100;
    }
  }


  //default state
  .menu-icon {
    $size: 30px;
    height: $size;
    width: $size;
    position: fixed;
    z-index: 2;
    right: 100px;
    top: 50px;
    cursor: pointer;
    &__line {
      height: 2px;
      width: $size;
      display: block;
      background-color:black;
      margin-bottom: 4px;
      transition: transform 0.2s ease, background-color 0.5s ease;
    }
    &__line-left {
      width: $size / 2;
    }
    &__line-right {
      width: $size / 2;
      float: right;
    }
  }

  .nav {
    $width: 100vw;
    $height: 100vh;
    $font--size--calc: calc(2vw + 10px);
    $transition--easing: cubic-bezier(0.77, 0, 0.175, 1);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    &:before,
    &:after {
      content: "";
      position: fixed;
      width: $width;
      height: $height;
      background: #bb2a27;

      z-index: -10;
      transition: transform $transition--easing $transition--length + s;
      transform: translateX(0%) translateY(-100%);
    }
    &:after {
      background: #dc3d39;
      transition-delay: 0s;
    }
    &:before {
      transition-delay: 0.1s;
    }
    &__content {
      position: fixed;
      top: 50%;
      transform: translate(0%, -50%);
      width: 100%;
      text-align: center;
      font-size: 35px;
      font-weight: 200;
      visibility: hidden;
    }
    &__list-item {
      position: relative;
      display: grid;
      transition-delay: $transition--length + s;
      opacity: 0;
      width: 100px;
      margin: 10px auto;
      color :white;
      transform: translate(0%, 100%);
      transition: opacity 0.2s ease, transform 0.3s ease;
      &:before {
        content: "";
        position: absolute;
        background: white;
        width: 20px;
        height: 1px;
        top: 100%;
        transform: translate(0%, 0%);
        transition: all 0.3s ease;
        z-index: -1;
      }
      &:hover {
        &:before {
          width: 100%;
        }
      }
    }
  }

  //active state
  body.nav-active {
    $menu--items--count: 4;
    .menu-icon {
      &__line {
        background-color: white;
        transform: translateX(-10px) rotate(-55deg);
      }
      &__line-left {
        transform: translateY(-6px) translateX(-2px) rotate(58deg) scaleX(2);
      }
    }
    .nav {
      visibility: visible;
      &:before,
      &:after {
        transform: translateX(0%) translateY(0%);
      }
      &:after {
        transition-delay: 0.1s;
      }
      &:before {
        transition-delay: 0s;
      }
      &__content {
        visibility: visible;
      }
      &__list-item {
        opacity: 1;
        transform: translateX(0%);
        transition: opacity 0.3s ease, transform 0.3s ease, color 0.3s ease;
        @for $i from 0 through $menu--items--count {
          &:nth-child(#{$i}) {
            transition-delay: $transition--length * $i / 8 + 0.5 + s;
          }
        }
      }
    }
  }
}
@media only screen and (min-width: 900px) {
  .site-content {
    padding-top: 300px;
    max-width: 90vw;
    height: 100vh;
    text-align: center;
    margin: 0 auto;
    align-items: center;
    display: flex;
    flex-direction: column;
    .header-grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 0 ;
      h1 {
        text-align: left;
        width: 475px;
        color: black;
        font-size: 34px;
        font-weight: 500;
        line-height: 50px;
      }
      h2{
        padding-top: 10px;
        text-align: left;
        font-weight: 200;
        line-height: 32px;
        color: black;
        font-size: 18px;
      }
    }
  }
  .images{
    width: 90vw;
    height: 400px;
    margin: 100px 0px;
  }
  .image-container {
    width: 100%;
    height: 400px;
    overflow: hidden;
    transition: 0.2s ease;
    img{
      transition: 0.2s ease;
      width: 100%;
      height: auto;
    }
  }
  .images:hover {
    .image-container{
      img{
        z-index: 3;
        transform:scale(1.1,1.1);
        transition: 0.2s ease;
      }
    }
    .image-text{
      transition: 0.2s ease;
      margin-top: 10px;
      margin-bottom: 20px;
    }
  }
  .image-text{
    margin-top: 30px;
    margin-bottom: 0px;
    text-align: left;
    line-height: 18px;
    transition: 0.2s ease;
    h1{
      font-size: 28px;
      font-weight: 500;
    }
    h4{
      font-size: 18px;
      color: #080808;
      font-weight: 100;
    }
  }


  //default state
  .menu-icon {
    $size: 30px;
    height: $size;
    width: $size;
    position: fixed;
    z-index: 2;
    right: 100px;
    top: 50px;
    cursor: pointer;
    &__line {
      height: 2px;
      width: $size;
      display: block;
      background-color:black;
      margin-bottom: 4px;
      transition: transform 0.2s ease, background-color 0.5s ease;
    }
    &__line-left {
      width: $size / 2;
    }
    &__line-right {
      width: $size / 2;
      float: right;
    }
  }

  .nav {
    $width: 100vw;
    $height: 100vh;
    $font--size--calc: calc(2vw + 10px);
    $transition--easing: cubic-bezier(0.77, 0, 0.175, 1);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    &:before,
    &:after {
      content: "";
      position: fixed;
      width: $width;
      height: $height;
      background: #bb2a27;

      z-index: -10;
      transition: transform $transition--easing $transition--length + s;
      transform: translateX(0%) translateY(-100%);
    }
    &:after {
      background: #dc3d39;
      transition-delay: 0s;
    }
    &:before {
      transition-delay: 0.1s;
    }
    &__content {
      position: fixed;
      top: 50%;
      transform: translate(0%, -50%);
      width: 100%;
      text-align: center;
      font-size: $font--size--calc;
      font-weight: 200;
      visibility: hidden;
    }
    &__list-item {
      position: relative;
      display: grid;
      transition-delay: $transition--length + s;
      opacity: 0;
      width: 100px;
      margin: 10px auto;
      color :white;
      transform: translate(0%, 100%);
      transition: opacity 0.2s ease, transform 0.3s ease;
      &:before {
        content: "";
        position: absolute;
        background: white;
        width: 20px;
        height: 1px;
        top: 100%;
        transform: translate(0%, 0%);
        transition: all 0.3s ease;
        z-index: -1;
      }
      &:hover {
        &:before {
          width: 100%;
        }
      }
    }
  }

  //active state
  body.nav-active {
    $menu--items--count: 4;
    .menu-icon {
      &__line {
        background-color: white;
        transform: translateX(-10px) rotate(-55deg);
      }
      &__line-left {
        transform: translateY(-6px) translateX(-2px) rotate(58deg) scaleX(2);
      }
    }
    .nav {
      visibility: visible;
      &:before,
      &:after {
        transform: translateX(0%) translateY(0%);
      }
      &:after {
        transition-delay: 0.1s;
      }
      &:before {
        transition-delay: 0s;
      }
      &__content {
        visibility: visible;
      }
      &__list-item {
        opacity: 1;
        transform: translateX(0%);
        transition: opacity 0.3s ease, transform 0.3s ease, color 0.3s ease;
        @for $i from 0 through $menu--items--count {
          &:nth-child(#{$i}) {
            transition-delay: $transition--length * $i / 8 + 0.5 + s;
          }
        }
      }
    }
  }
}
@media only screen and (min-width: 1200px) {

  .site-content {
    padding-top: 300px;
    max-width: 60vw;
    height: 100vh;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    .header-grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 0 ;
      h1 {
        text-align: left;
        width: 475px;
        color: black;
        font-size: 34px;
        font-weight: 500;
        line-height: 50px;
      }
      h2{
        padding-top: 10px;
        text-align: left;
        font-weight: 200;
        line-height: 32px;
        color: black;
        font-size: 18px;
      }
    }
  }
  .images{
    width: 60vw;
    height: 400px;
    margin: 200px 0px;
  }
  .image-container {
    width: 100%;
    height: 400px;
    overflow: hidden;
    transition: 0.2s ease;
    img{
      transition: 0.2s ease;
      width: 100%;
      height: auto;
    }
  }
  .images:hover {
    .image-container{
      img{
        z-index: 3;
        transform:scale(1.1,1.1);
        transition: 0.2s ease;
      }
    }
    .image-text{
      transition: 0.2s ease;
      margin-top: 10px;
      margin-bottom: 20px;
    }
  }
  .image-text{
    margin-top: 30px;
    margin-bottom: 0px;
    text-align: left;
    line-height: 18px;
    transition: 0.2s ease;
    h1{
      font-size: 28px;
      font-weight: 500;
    }
    h4{
      font-size: 18px;
      color: #080808;
      font-weight: 100;
    }
  }


  //default state
  .menu-icon {
    $size: 30px;
    height: $size;
    width: $size;
    position: fixed;
    z-index: 2;
    right: 100px;
    top: 50px;
    cursor: pointer;
    &__line {
      height: 2px;
      width: $size;
      display: block;
      background-color:black;
      margin-bottom: 4px;
      transition: transform 0.2s ease, background-color 0.5s ease;
    }
    &__line-left {
      width: $size / 2;
    }
    &__line-right {
      width: $size / 2;
      float: right;
    }
  }

  .nav {
    $width: 100vw;
    $height: 100vh;
    $font--size--calc: calc(2vw + 10px);
    $transition--easing: cubic-bezier(0.77, 0, 0.175, 1);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    &:before,
    &:after {
      content: "";
      position: fixed;
      width: $width;
      height: $height;
      background: #bb2a27;

      z-index: -10;
      transition: transform $transition--easing $transition--length + s;
      transform: translateX(0%) translateY(-100%);
    }
    &:after {
      background: #dc3d39;
      transition-delay: 0s;
    }
    &:before {
      transition-delay: 0.1s;
    }
    &__content {
      position: fixed;
      top: 50%;
      transform: translate(0%, -50%);
      width: 100%;
      text-align: center;
      font-size: $font--size--calc;
      font-weight: 200;
      visibility: hidden;
    }
    &__list-item {
      position: relative;
      display: grid;
      transition-delay: $transition--length + s;
      opacity: 0;
      width: 100px;
      margin: 10px auto;
      color :white;
      transform: translate(0%, 100%);
      transition: opacity 0.2s ease, transform 0.3s ease;
      &:before {
        content: "";
        position: absolute;
        background: white;
        width: 20px;
        height: 1px;
        top: 100%;
        transform: translate(0%, 0%);
        transition: all 0.3s ease;
        z-index: -1;
      }
      &:hover {
        &:before {
          width: 100%;
        }
      }
    }
  }

  //active state
  body.nav-active {
    $menu--items--count: 4;
    .menu-icon {
      &__line {
        background-color: white;
        transform: translateX(-10px) rotate(-55deg);
      }
      &__line-left {
        transform: translateY(-6px) translateX(-2px) rotate(58deg) scaleX(2);
      }
    }
    .nav {
      visibility: visible;
      &:before,
      &:after {
        transform: translateX(0%) translateY(0%);
      }
      &:after {
        transition-delay: 0.1s;
      }
      &:before {
        transition-delay: 0s;
      }
      &__content {
        visibility: visible;
      }
      &__list-item {
        opacity: 1;
        transform: translateX(0%);
        transition: opacity 0.3s ease, transform 0.3s ease, color 0.3s ease;
        @for $i from 0 through $menu--items--count {
          &:nth-child(#{$i}) {
            transition-delay: $transition--length * $i / 8 + 0.5 + s;
          }
        }
      }
    }
  }
}