.sidebarClose {
    height: 100vh;
    padding-left: 20px;
    background-color: #d5d5d5;
    opacity: 1;
    color: black;
    width: 400px;
    position: fixed;
    z-index: 200;
    left: -320px;
    overflow: hidden;
    text-wrap: normal;
}
.sidebarOpen {
    text-wrap: normal;
    height: 100vh;
    padding-left: 20px;
    background-color: #d5d5d5;
    opacity: 1;
    color: black;
    width: 400px;
    position: fixed;
    z-index: 200;
    left: 0;
    overflow: hidden;
}
.content {
    position: absolute;
    top: 45px;
    left: 420px;
    height: 100%;
}
.inline{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 50px;
}
.inline h1 {
    font-size: 35px;
}

.content-header {
    width: 395px;
    margin: 0 auto;
    display: grid;
    grid-template-columns:1fr 4fr 1fr ;
    text-wrap: unset;
}
